<!DOCTYPE html>
<html class="loading" lang="pt-br" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
  <!-- BEGIN: Head-->
  <head>
    <meta charset="utf-8">
    <title>Mamute | carrinho</title>    
  </head>
	<body>
	<div th:fragment="carrinho-pagina">
          <!-- Page Title-->
      <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item"><a class="text-nowrap" href="/mamute"><img src="../img/icon/house.svg"> Home</a></li>
                <li><img src="../img/icon/chevron-right.svg"><a href="/mamute/shopping"> Comprar </a>
                </li>
                <img src="../img/icon/chevron-right.svg">
                <li class="breadcrumb-item text-nowrap active" aria-current="page">  Carrinho </li>
              </ol>
            </nav>
          </div>
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 th:text="${compras.isEmpty()} ? 'Seu carrinho está vazio ': 'Seu carrinho'" class="h3 text-light mb-0"></h1>
          </div>
        </div>
      </div>
      
      <div th:if="${compras.isEmpty()}" class="container pb-5 mb-2 mb-md-4">
        <div class="row">
          <!-- List of items-->
          <section class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-sm-5 mt-1">
              <h2 class="h6 text-light mb-0">Produtos</h2><a class="btn btn-outline-primary btn-sm ps-2" href="/mamute/shopping"><img src="../img/icon/chevron-right.svg"> Continue no shopping</a>
            </div>            
           <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;"></div>          
          </section>
        </div>
      </div>     
      <div th:if="${!compras.isEmpty()}" class="container pb-5 mb-2 mb-md-4">
        <div class="row">
          <!-- List of items-->
          <section class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-sm-5 mt-1">
              <h2 class="h6 text-light mb-0">Produtos</h2><a class="btn btn-outline-primary btn-sm ps-2" href="/mamute/shopping"><img src="../img/icon/chevron-right.svg"> Continue no shopping</a>
            </div>
            <!-- Item-->
            <div th:each="compra : ${compras}" class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
              <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="#"><img th:src="@{/mamute/carrinho/produto/visualizar/{imagem}(imagem=${compra.produto.imagem})}" width="160" alt="Produto"></a>
                <div class="pt-2">
                  <h3 th:text="${compra.produto.nome}" class="product-title fs-base mb-2"><a href="shop-single-v1.html"></a></h3>
                  <div class="fs-sm"><span class="text-muted me-2">Tamanho:</span>38</div>
                  <div th:text="${compra.produto.cor}" class="fs-sm"><span class="text-muted me-2">Color:</span>White &amp; Blue</div>
                  <div class="fs-lg text-accent pt-2">R$<small th:text="${#numbers.formatDecimal(compra.produto.precoVenda, 0, 'COMMA', 2, 'POINT')}"></small></div>
                </div>
              </div>
              <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
                <label class="form-label" for="quantity1">Quantitade</label>
                <a th:href="@{/mamute/carrinho/quantidade/{id}/{acao}(id=${compra.produto.id},acao=${1})}" class="btn btn-link px-0 text-danger" type="button"><span class="fs-sm">&nbsp; + </span></a>                
                <a th:href="@{/mamute/carrinho/quantidade/{id}/{acao}(id=${compra.produto.id},acao=${0})}" class="btn btn-link px-0 text-danger" type="button"><span class="fs-sm">&nbsp; - </span></a>                
                <input th:value="${compra.quantidade}" class="form-control" id="quantity1" min="1">
                <a th:href="@{/mamute/carrinho/remover/{id}(id=${compra.produto.id})}" class="btn btn-link px-0 text-danger" type="button"><img src="../img/icon/trash.svg"><span class="fs-sm"> Remover</span></a>
              </div>
            </div>            
            <a href="/usuario/detalhes" class="btn btn-outline-accent d-block w-100 mt-4" type="button"><img src="../img/icon/cast.svg">&nbsp; Processar o seu pedido</a>
          </section>
          <!-- Sidebar-->
          <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
            <div class="bg-white rounded-3 shadow-lg p-4">
              <div class="py-2 px-xl-2">
                <div class="text-center mb-4 pb-3 border-bottom">
                  <h2 class="h6 mb-3 pb-1">Subtotal</h2>
                  <h3 class="fw-normal">R$<small th:text="${#numbers.formatDecimal(pedido.ValorTotal, 0, 'COMMA', 2, 'POINT')}"></small></h3>
                </div>
                <div class="mb-3 mb-4">
                  <label class="form-label mb-3" for="order-comments"><span class="badge bg-info fs-xs me-2">Anote</span><span class="fw-medium">Comentários adicionais</span></label>
                  <textarea class="form-control" rows="6" id="order-comments"></textarea>
                </div>
                <div class="accordion" id="order-options">
                  <div class="accordion-item">
                    <h3 class="accordion-header"><a class="accordion-button" href="#promo-code" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="promo-code">Aplicar código promocional</a></h3>
                    <div class="accordion-collapse collapse show" id="promo-code" data-bs-parent="#order-options">
                      <form class="accordion-body needs-validation" method="post" novalidate>
                        <div class="mb-3">
                          <input class="form-control" type="text" placeholder="Código promocional" required>
                          <div class="invalid-feedback">Please provide promo code.</div>
                        </div>
                        <button class="btn btn-outline-primary d-block w-100" type="submit">Aplicar código promocional</button>
                      </form>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header"><a class="accordion-button collapsed" href="#shipping-estimates" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shipping-estimates">Estimativas de envio</a></h3>
                    <div class="accordion-collapse collapse" id="shipping-estimates" data-bs-parent="#order-options">
                      <div class="accordion-body">
                        <form class="needs-validation" novalidate>
                          <div class="mb-3">
                            <input class="form-control" type="text" placeholder="CEP / Código Postal" required>
                            <div class="invalid-feedback">Forneça um CEP válido!</div>
                          </div>
                          <button class="btn btn-outline-primary d-block w-100" type="submit">Calcular frete</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div><a class="btn btn-primary btn-shadow d-block w-100 mt-4" href="/usuario/detalhes"><img src="../img/icon/credit-card.svg"><i class="me-2"></i>Fazer o check-out</a>
              </div>
            </div>
          </aside>
        </div>
      </div>
      </div>
    </body>
</html>