<!DOCTYPE html>
<html class="loading" lang="pt-br" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
  <!-- BEGIN: Head-->
  <head>
    <meta charset="utf-8">
    <title>Mamute | detalhes</title>    
  </head>
	<body>
	<div th:fragment="detalhes-pagina">
     <!-- Page Title-->
      <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item"><a class="text-nowrap" href="/mamute"><img src="../img/icon/house.svg"> Home</a></li>
                <li><img src="../img/icon/chevron-right.svg"><a href="/mamute/shopping"> Comprar </a>
                </li>
                <img src="../img/icon/chevron-right.svg">
                <li class="breadcrumb-item text-nowrap active" aria-current="page">  Checkout</li>
              </ol>
            </nav>
          </div>
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Checkout</h1>
          </div>
        </div>
      </div>
      <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
          <section class="col-lg-8">
            <!-- Steps-->
        	<div th:fragment="menu-pagina" class="steps steps-light pt-2 pb-3 mb-5"><a class="step-item active" href="/mamute/carrinho">
                <div class="step-progress"><span class="step-count">1</span></div>
                <div class="step-label"><img src="../img/icon/cart3.svg"> Carrinho</div></a><a class="step-item active current" href="/mamute/detalhes">
                <div class="step-progress"><span class="step-count">2</span></div>
                <div class="step-label"><img src="../img/icon/person.svg"> Detalhes</div></a><a class="step-item" href="/mamute/envio">
                <div class="step-progress"><span class="step-count">3</span></div>
                <div class="step-label"><img src="../img/icon/basket3.svg">&nbsp;&nbsp;&nbsp; Entrega</div></a><a class="step-item" href="/mamute/pagamento">
                <div class="step-progress"><span class="step-count">4</span></div>
                <div class="step-label"><img src="../img/icon/currency-dollar.svg"> Pagamento</div></a><a class="step-item" href="/mamute/analise">
                <div class="step-progress"><span class="step-count">5</span></div>
                <div class="step-label"><img src="../img/icon/bootstrap-reboot.svg">&nbsp;&nbsp;&nbsp; Análise</div></a>
            </div>       	
            <!-- Autor info-->
            <div class="d-sm-flex justify-content-between align-items-center bg-secondary p-4 rounded-3 mb-grid-gutter">
              <div class="d-flex align-items-center">
                <div class="img-thumbnail rounded-circle position-relative flex-shrink-0"><span class="badge bg-warning position-absolute end-0 mt-n2" data-bs-toggle="tooltip" title="Reward points">384</span><img class="rounded-circle" src="img/shop/account/avatar.jpg" width="90" alt="imagem perfil"></div>
                <div class="ps-3">
                  <h3 class="fs-base mb-0">nome</h3><span class="text-accent fs-sm">jefferson@exemplo.com</span>
                </div>
              </div><a class="btn btn-light btn-sm btn-shadow mt-3 mt-sm-0" href="/mamute/perfil"><img src="../img/icon/pencil-square.svg"> Editar Perfil</a>
            </div>
            <!-- Shipping address-->
            <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Endereço para envio</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="checkout-fn">Primeiro nome</label>
                  <input class="form-control" type="text" id="checkout-fn">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="checkout-ln">Sobrenome</label>
                  <input class="form-control" type="text" id="checkout-ln">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="checkout-email">E-mail</label>
                  <input class="form-control" type="email" id="checkout-email">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="checkout-phone">Telefone</label>
                  <input class="form-control" type="text" id="checkout-phone">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="checkout-company">Company</label>
                  <input class="form-control" type="text" id="checkout-company">
                </div>
              </div>              
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="checkout-zip">CEP</label>
                  <input class="form-control" type="text" id="checkout-zip">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="checkout-city">Country</label>
                  <select class="form-select" id="checkout-city">
                    <option>Choose city</option>
                    <option>Amsterdam</option>
                    <option>Berlin</option>
                    <option>Geneve</option>
                    <option>New York</option>
                    <option>Paris</option>
                  </select>
                </div>
              </div>              
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="checkout-country">Country</label>
                  <select class="form-select" id="checkout-country">
                    <option>Choose country</option>
                    <option>Australia</option>
                    <option>Canada</option>
                    <option>France</option>
                    <option>Germany</option>
                    <option>Switzerland</option>
                    <option>USA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="checkout-address-1">Endereço 1</label>
                  <input class="form-control" type="text" id="checkout-address-1">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="checkout-address-2">Endereço 2</label>
                  <input class="form-control" type="text" id="checkout-address-2">
                </div>
              </div>
            </div>
            <h6 class="mb-3 py-3 border-bottom">Endereço de cobrança</h6>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" checked id="same-address">
              <label class="form-check-label" for="same-address">Igual ao endereço de entrega</label>
            </div>
            <!-- Navigation (desktop)-->
            <div class="d-none d-lg-flex pt-4 mt-3">
              <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="/mamute/carrinho"><img src="../img/icon/chevron-left.svg"><img src="../img/icon/chevron-left.svg"><span class="d-none d-sm-inline"> Voltar ao carrinho</span><span class="d-inline d-sm-none"> Voltar</span></a></div>
              <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100" href="/mamute/envio"><span class="d-none d-sm-inline">Prossiga para o envio </span><img src="../img/icon/chevron-right.svg"><span class="d-inline d-sm-none">Próximo</span><img src="../img/icon/chevron-right.svg"></a></div>
            </div>
          </section>
          <!-- Sidebar-->
          <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
            <div class="bg-white rounded-3 shadow-lg p-4 ms-lg-auto">
              <div class="py-2 px-xl-2">
                <div class="widget mb-3">
                  <h2 class="widget-title text-center">Resumo do pedido</h2>
                   <div th:each="compra : ${compras}" class="widget-cart-item pb-2 border-bottom">
                     <div  class="d-flex align-items-center"><a class="flex-shrink-0" href="#"><img th:src="@{/mamute/carrinho/produto/visualizar/{imagem}(imagem=${compra.produto.imagem})}" width="64" alt="Produto"></a>
                       <div class="ps-2">
                         <h6 th:text="${compra.produto.nome}" class="widget-product-title"><a href="shop-single-v1.html"></a></h6>
                         <div class="widget-product-meta"><span class="text-accent me-2">R$<small th:text="${#numbers.formatDecimal(compra.produto.precoVenda, 0, 'COMMA', 2, 'POINT')}"></small></span>
                         <span>x</span><span th:text="${compra.quantidade}"class="text-muted"></span></div>
                       </div>
                     </div>
                  </div> 
                </div>
                <ul class="list-unstyled fs-sm pb-2 border-bottom">
                  <li class="d-flex justify-content-between align-items-center"><span class="me-2">Subtotal:</span><span class="text-end">R$<small th:text="${#numbers.formatDecimal(pedido.ValorTotal, 0, 'COMMA', 2, 'POINT')}"></small></span></li>
                  <li class="d-flex justify-content-between align-items-center"><span class="me-2">Envio:</span><span class="text-end">—</span></li>
                  <li class="d-flex justify-content-between align-items-center"><span class="me-2">Impostos:</span><span class="text-end">R$<small>0</small></span></li>
                  <li class="d-flex justify-content-between align-items-center"><span class="me-2">Desconto:</span><span class="text-end">—</span></li>
                </ul>
                <h3 class="fw-normal text-center my-4">R$<small th:text="${#numbers.formatDecimal(pedido.ValorTotal, 0, 'COMMA', 2, 'POINT')}"></small></h3>
                <form class="needs-validation" method="post" novalidate>
                  <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Promo code" required>
                    <div class="invalid-feedback">Forneça o código promocional.</div>
                  </div>
                  <button class="btn btn-outline-primary d-block w-100" type="submit">Aplicar código promocional</button>
                </form>
              </div>
            </div>
          </aside>
        </div>
        <!-- Navigation (mobile)-->
        <div class="row d-lg-none">
          <div class="col-lg-8">
            <div class="d-flex pt-4 mt-3">
              <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="/mamute/carrinho"><img src="../img/icon/chevron-left.svg"><span class="d-none d-sm-inline">Voltar ao carrinho</span><span class="d-inline d-sm-none">Voltar</span></a></div>
              <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100" href="/mamute/envio"><span class="d-none d-sm-inline">Prossiga para o envio</span><span class="d-inline d-sm-none">Próximo</span><img src="../img/icon/chevron-right.svg"></a></div>
            </div>
          </div>
        </div>
      </div>
     </div>
   </body>
</html>