<!DOCTYPE html>
<html class="loading" lang="pt-br" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
  <!-- BEGIN: Head-->
  <head>
    <meta charset="utf-8">
    <title>Mamute | Fashion Store v.1</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Mamute - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    
    <link rel="stylesheet" media="screen" href="../../vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../../vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="../../vendor/drift-zoom/dist/drift-basic.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../../css/theme.min.css">
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WKV3GT5');
    </script>
  </head>
	<body>	
	          <!-- Product-->
	       <div th:fragment="produtos">
	        <div class="row mx-n2">
	          <div th:each="produto, cont : ${produtos}" th:if="${cont.index <= 18 and produto.nome != 'Moletom'}" class="col-md-4 col-sm-6 px-2 mb-4">
	            <div class="card product-card">            
	              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><img src="../img/icon/heart.svg"></button>
	              <a class="card-img-top d-block overflow-hidden" href="#">
	              <img th:src="@{/mamute/produto/visualizar/{imagem}(imagem=${produto.imagem})}" alt="Produto"></a>
	              <div class="card-body py-2">
	              	<a th:text="${produto.descricao}" class="product-meta d-block fs-xs pb-1" href="#" ></a>
	                <h3 th:text="${produto.nome}" class="product-title fs-sm"><a href="shop-single-v1.html"></a></h3>
	                <div class="d-flex justify-content-between">
	                  <div class="product-price"><small>R$</small><span class="text-accent" th:text="${#numbers.formatDecimal(produto.precoVenda, 0, 'COMMA', 2, 'POINT')}"></span></div>
	                </div> 
	              </div>          
	              <div th:if="${produto.categoria.departamento.nome == 'Confecções'}" class="card-body card-body-hidden">                
	                <div  class="text-center pb-2">
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="color1" id="white" checked>
	                    <label class="form-option-label rounded-circle" for="white"><span class="form-option-color rounded-circle" style="background-color: #eaeaeb;"></span></label>
	                  </div>
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="color1" id="blue">
	                    <label class="form-option-label rounded-circle" for="blue"><span class="form-option-color rounded-circle" style="background-color: #d1dceb;"></span></label>
	                  </div>
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="color1" id="yellow">
	                    <label class="form-option-label rounded-circle" for="yellow"><span class="form-option-color rounded-circle" style="background-color: #f4e6a2;"></span></label>
	                  </div>
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="color1" id="pink">
	                    <label class="form-option-label rounded-circle" for="pink"><span class="form-option-color rounded-circle" style="background-color: #f3dcff;"></span></label>
	                  </div>
	                </div>
	                <div class="d-flex mb-2">
	                  <select class="form-select form-select-sm me-2">
	                  	<option>Tamanho</option>
	                    <option>P</option>
	                    <option>M</option>
	                    <option>G</option>
	                    <option>GG</option>
	                    <option>XG</option>
	                  </select>
	                  <a th:href="@{/mamute/carrinho/adicionar/{id}(id=${produto.id})}" class="btn btn-primary btn-sm" type="button"><img src="../img/icon/cart-plus.svg"> Add carrinho</a>
	                </div>
	                <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal"><img src="../img/icon/eye.svg"> Olhada rápida</a></div>
	              </div>
	              <div th:if="${produto.categoria.departamento.nome == 'Calçados'}"  class="card-body card-body-hidden">
	                <div class="text-center pb-2">
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="size1" id="s-75">
	                    <label class="form-option-label" for="s-75">7.5</label>
	                  </div>
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="size1" id="s-80" checked>
	                    <label class="form-option-label" for="s-80">8</label>
	                  </div>
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="size1" id="s-85">
	                    <label class="form-option-label" for="s-85">8.5</label>
	                  </div>
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="size1" id="s-90">
	                    <label class="form-option-label" for="s-90">9</label>
	                  </div>
	                </div>
	                <a th:href="@{/mamute/carrinho/adicionar/{id}(id=${produto.id})}" class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"><img src="../img/icon/cart-plus.svg"> Adicionar ao carrinho</a>
	                <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal"><img src="../img/icon/eye.svg"> Olhada rápida</a></div>
	               </div>               
		           <div th:if="${produto.categoria.departamento.nome == 'Acessórios'}" class="card-body card-body-hidden">
	                <a th:href="@{/mamute/carrinho/adicionar/{id}(id=${produto.id})}" class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"><img src="../img/icon/cart-plus.svg"> Adicionar ao carrinho</a>
		              <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal"><img src="../img/icon/eye.svg"> Olhada rápida</a></div>
		           </div>
		          <hr class="d-sm-none">
	          	 </div>          
	            <hr class="d-sm-none">
	           </div>
	        <!-- Banner-->
           <div th:replace="~{ecommerce/fragmentos/banner-central-shopping :: banner}"></div>
            <!-- Products grid-->
            <!--  -->
            <div class="row mx-n2">
              <!-- Product-->
	          <div th:each="produto, cont : ${produtos}" th:if="${cont.index <= 5}" class="col-md-4 col-sm-6 px-2 mb-4">
	            <div class="card product-card">            
	              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><img src="../img/icon/heart.svg"></button>
	              <a class="card-img-top d-block overflow-hidden" href="#">
	              <img th:src="@{/mamute/produto/visualizar/{imagem}(imagem=${produto.imagem})}" alt="Produto"></a>
	              <div class="card-body py-2">
	              	<a th:text="${produto.descricao}" class="product-meta d-block fs-xs pb-1" href="#" ></a>
	                <h3 th:text="${produto.nome}" class="product-title fs-sm"><a href="shop-single-v1.html"></a></h3>
	                <div class="d-flex justify-content-between">
	                  <div class="product-price"><small>R$</small><span class="text-accent" th:text="${#numbers.formatDecimal(produto.precoVenda, 0, 'COMMA', 2, 'POINT')}"></span></div>
	                 
	                </div> 
	              </div>          
	              <div th:if="${produto.categoria.departamento.nome == 'Confecções'}" class="card-body card-body-hidden">                
	                <div  class="text-center pb-2">
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="color1" id="white" checked>
	                    <label class="form-option-label rounded-circle" for="white"><span class="form-option-color rounded-circle" style="background-color: #eaeaeb;"></span></label>
	                  </div>
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="color1" id="blue">
	                    <label class="form-option-label rounded-circle" for="blue"><span class="form-option-color rounded-circle" style="background-color: #d1dceb;"></span></label>
	                  </div>
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="color1" id="yellow">
	                    <label class="form-option-label rounded-circle" for="yellow"><span class="form-option-color rounded-circle" style="background-color: #f4e6a2;"></span></label>
	                  </div>
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="color1" id="pink">
	                    <label class="form-option-label rounded-circle" for="pink"><span class="form-option-color rounded-circle" style="background-color: #f3dcff;"></span></label>
	                  </div>
	                </div>
	                <div class="d-flex mb-2">
	                  <select class="form-select form-select-sm me-2">
	                  	<option>Tamanho</option>
	                    <option>P</option>
	                    <option>M</option>
	                    <option>G</option>
	                    <option>GG</option>
	                    <option>XG</option>
	                  </select>
	                  <a th:href="@{/mamute/carrinho/adicionar/{id}(id=${produto.id})}" class="btn btn-primary btn-sm" type="button"><img src="../img/icon/cart-plus.svg"> Add carrinho</a>
	                </div>
	                <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal"><img src="../img/icon/eye.svg"> Olhada rápida</a></div>
	              </div>
	              <div th:if="${produto.categoria.departamento.nome == 'Calçados'}"  class="card-body card-body-hidden">
	                <div class="text-center pb-2">
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="size1" id="s-75">
	                    <label class="form-option-label" for="s-75">7.5</label>
	                  </div>
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="size1" id="s-80" checked>
	                    <label class="form-option-label" for="s-80">8</label>
	                  </div>
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="size1" id="s-85">
	                    <label class="form-option-label" for="s-85">8.5</label>
	                  </div>
	                  <div class="form-check form-option form-check-inline mb-2">
	                    <input class="form-check-input" type="radio" name="size1" id="s-90">
	                    <label class="form-option-label" for="s-90">9</label>
	                  </div>
	                </div>
	                <a th:href="@{/mamute/carrinho/adicionar/{id}(id=${produto.id})}" class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"><i class="ci-cart fs-sm me-1"></i>Adicionar ao carrinho</a>
	                <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal"><img src="../img/icon/eye.svg"> Olhada rápida</a></div>
	               </div>               
		           <div th:if="${produto.categoria.departamento.nome == 'Acessórios'}" class="card-body card-body-hidden">
	                <a th:href="@{/mamute/carrinho/adicionar/{id}(id=${produto.id})}" class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"><i class="ci-cart fs-sm me-1"></i>Adicionar ao carrinho</a>
		              <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view" data-bs-toggle="modal"><img src="../img/icon/eye.svg"> Olhada rápida</a></div>
		           </div>
		          <hr class="d-sm-none">
	          	 </div>          
	            <hr class="d-sm-none">
	           </div>
	          </div>
	        </div> 
	       </div>
	    </body>
</html>