<!DOCTYPE html>
<html class="loading" lang="pt-br" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
    <!-- BEGIN: Head-->
  <head>
    <meta charset="utf-8">
    <title>Mamute | Fashion Store v.1</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Mamute - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    
    <link rel="stylesheet" media="screen" href="../../vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../../vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="../../vendor/drift-zoom/dist/drift-basic.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../../css/theme.min.css">
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WKV3GT5');
    </script>
	<body>
 	  <!-- Page Title-->
 	  <div th:fragment="usuario-metodo-pagamento-pagina">
       <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item"><a class="text-nowrap" href="/mamute"><img src="../img/icon/house.svg"> Home</a></li>
                <li><a href="#"><img src="../img/icon/chevron-right.svg"> pagamento</a>
                </li>
                <li class="breadcrumb-item text-nowrap active" aria-current="page"><img src="../img/icon/chevron-right.svg"> Método de pagamento</li>
              </ol>
            </nav>
          </div>
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0"> Método de pagamento</h1>
          </div>
        </div>
      </div>
      <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
          <!-- Sidebar-->
			<div th:replace="~{ecommerce/fragmentos/menu-usuario :: menu-usuario}"></div>
         <section class="col-lg-8">
            <!-- Toolbar-->
            <form name="formulario" action="/usuario/logout" method="post">            
            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
              <h6 class="fs-base text-light mb-0">Método de pagamento principal é usado por padrão</h6><a class="btn btn-primary btn-sm" href="javascript: submitform()"><img src="../img/icon/box-arrow-in-right.svg">&nbsp;  Sair</a>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"  />              
            </div>
            </form>            
            <div th:replace="~{ecommerce/fragmentos/modal-metodo-pagamento :: metodo-pagamento}"></div>
            <!-- Payment methods list-->
            <div class="table-responsive fs-md mb-4">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>Seus cartões crédito / débito</th>
                    <th>Nome no cartão</th>
                    <th>Validade</th>
                    <th>Ação</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr th:if="${usuarioLogado.cartao.id == null}">
                    <td class="py-3 align-middle">
						<span class="alert alert-danger" role="alert">Adicione informações do seu cartão ao seu cadastro!</span>
				    </td>  
                  </tr>
                  <tr th:if="${usuarioLogado.cartao.id != null}">
                    <td class="py-3 align-middle" >
                      <div class="d-flex align-items-center"><img src="../img/card-visa.png" width="39" alt="Visa">
                        <div class="ps-2"><span class="fw-medium text-heading me-1">Visa</span><span class="align-middle badge bg-info ms-2">Principal</span></div>
                      </div>
                    </td>
                    <td class="py-3 align-middle" th:text="${usuarioLogado.cartao.nomeCompleto}"></td>
                    <td class="py-3 align-middle" th:text="${usuarioLogado.cartao.dataVencimento}"></td>
                    <td class="py-3 align-middle">
                     <a class="nav-link-style me-2" href="#add-payment" data-bs-toggle="modal" title="Editar"><img src="../img/icon/pencil-square.svg"></a>
                     <a class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remover"><img src="../img/icon/trash.svg"></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
           <div th:if="${usuarioLogado.cartao.id == null}" class="text-sm-end"><a class="btn btn-primary" href="#add-payment" data-bs-toggle="modal"> Adicionar método de pagamento</a></div>
          <script type="text/javascript">
    		function submitform() {
        	  document.formulario.submit();
    	    }
	      </script>
         </section>
        </div>
      </div>
     </div>
    </body>
</html>