<!DOCTYPE html>

<html class="loading" lang="pt-br" data-textdirection="ltr"
 xmlns:th="http://www.thymeleaf.org">

  <!-- INÍCIO: Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title>Form Colaborador | Mamute - Admin</title>
    <link rel="apple-touch-icon" href="../../../../app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../../app-assets/images/favicon/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/dropify/css/dropify.min.css">
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="../../../../../app-assets/css/themes/vertical-modern-menu-template/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../../app-assets/css/themes/vertical-modern-menu-template/style.min.css">
    <!-- END: Page Level CSS-->   
    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
 <!-- FIM: Head-->
  <div th:replace="~{dashboard-admin/fragmentos/topo-pagina :: topo}"></div>
   <div th:replace="~{dashboard-admin/fragmentos/menu-principal :: menu-painel}"></div>
    <!-- FIM: SideNav Fim menu lateral-->

    <!-- BEGIN: Page Main-->
    <div id="main">
      <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
          <!-- Search for small screen-->
          <div class="container">
            <div class="row">
              <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>Formulário de Cadastro</span></h5>
                <ol class="breadcrumbs mb-0">
                  <li class="breadcrumb-item"><a href="dashboard-modern.html">Home</a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Colaboradores</a>
                  </li>
                  <li class="breadcrumb-item active">Cadastro
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="container">
            <div class="section section-form-wizard">
  			 <div class="col s12 m6 l12">
			   <div class="card gradient-45deg-light-blue-cyan gradient-shadow">
			      <div class="card-content white-text">
			         <p class="caption mb-0">
			         <span class="card-title">
			         <i class="material-icons">content_paste</i>
			          Cadastre ou atualize aqui os dados de colaborador.</span>
			         <p></p>
			       </div>            
			   </div>		
			 <div class="row">
		     <div class="col s12">
		      <div class="card">
		        <div class="card-content pb-0">          
				 <form action="salvar" enctype="multipart/form-data" th:object="${colaborador}" method="post">
				  <div class="row">
                  <div class="input-field col m12 s12">                 
                    <p>Foto do Colaborador:</p>	              	 	     
				  	  <div class="input-field">
				  		<input type="file"  name="file" accept="image/*" class="dropify-event" 
				  		data-default-file="../../../app-assets/images/gallery/53571.jpg" />				  		 
				  	  </div>	  	
                  </div>
                 </div>
				  <div class="row">
                  <div class="input-field col m6 s12">
                   <i class="material-icons prefix">account_circle</i>
                    <label for="firstName">Primeiro Nome: <span class="red-text">*</span></label>
                    <input type="text" th:field="${colaborador.nome}" class="validate" name="nome" required="required">
                  </div>
                  <div class="input-field col m6 s12">
                   <i class="material-icons prefix">account_circle</i>
                    <label for="lastName">Sobrenome: <span class="red-text">*</span></label>
                    <input type="text" th:field="${colaborador.sobrenome}" class="validate" name="sobrenome" required="required">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col m6 s12">
                   <i class="material-icons prefix">edit</i>
                    <label for="cpf">cpf: <span class="red-text">*</span></label>
                    <input type="text" th:field="${colaborador.cpf}" class="validate"  name="cpf" onkeydown="javascript: fMasc( this, mCPF );"
                    pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Digite o CPF no formato 000.000.000-00" maxlength="14" required="required"/>
                  </div>
                  <div class="input-field col m6 s12">
                  <i class="material-icons prefix">edit</i>
                    <label for="rg">rg: <span class="red-text">*</span></label>
                    <input type="text" th:field="${colaborador.rg}" class="validate" name="num" onkeydown="javascript: fMasc( this, mNum );"
                    pattern="^[0-9]{7}$" title="Digite o rg no formato correto" required ="required">
                  </div>
                </div>
                <div class="row">                 
                  <div class="input-field">                                  
                   <div class="input-field col m6 s12">
                   <i class="material-icons prefix">event_note</i> 
                   <select th:object="${descricoes}" th:field="${colaborador.telefone.descricao.id}" class="validate" required="required" >
                      <option value="">Selecione Tipo do Contato</option>
                      <option th:each="descricao: ${descricoes}" th:value="${descricao.id}" th:text="${descricao.nome}"></option>                      
                    </select> 
                   </div> 
                   </div>                   
                  <div class="input-field col m6 s12">
                  	<i class="material-icons prefix">phone</i>
                    <label for="telefone">Telefone : <span class="red-text">*</span></label>
                    <input type="text" th:field="${colaborador.telefone.numero}" class="validate"  maxlength="14"
                    name="tel" onkeydown="javascript: fMasc( this, mTel );" required="required">
                  </div>
                </div>                
                <div class="row">
                  <div class="input-field col m6 s12">
                  <i class="material-icons prefix">email</i>
                  	<br>
                    <label for="email">(1) Email: <span class="red-text">*</span></label>
                    <input type="email" th:field="${colaborador.email.enderecoEmail}" class="validate"
                    name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="caracteres @ caracteres . domínio." required="required">
                  </div>
                  <div class="input-field col m6 s12">
                  <p>Data de nascimento : <span class="red-text">*</span></p> 
                    <input type="date" th:field="${colaborador.dataNascimento}" class="validate" name="dataNascimento" id="dataNascimento" required="required">
                  </div>  
                </div>
                <div class="input-field col m6 s12">
                    <p> <label>Sexo:</label></p>
                    <p> <label>
                        <input class="with-gap"  id="sexo" name="sexo" value="masculino" type="radio" th:field="${colaborador.sexo}">
                        <span >Masculino</span>
                      </label></p>
                    <p><label>
                        <input class="with-gap" id="sexo" name="sexo" value="feminino" type="radio" th:field="${colaborador.sexo}">
                        <span>Feminino</span>
                      </label>
                    </p>                      
                   </div>
                   <div class="input-field col m6 s12">
                    <p> <label>Status:</label></p>
                    <p> <label>
                        <input class="with-gap" name="status" value="1" type="radio" th:field="${colaborador.usuario.status}">
                        <span >Ativo</span>
                      </label></p>
                    <p><label>
                        <input class="with-gap" name="status" value="0" type="radio" th:field="${colaborador.usuario.status}">
                        <span>Desabilitado</span>
                      </label>
                    </p>     
                  </div>  
                <div class="row">
                  <div class="input-field col m6 s12">
                  <i class="material-icons prefix">portrait</i>
                    <label for="proposal">Formação: <span class="red-text">*</span></label>
                    <input type="text" th:field="${colaborador.formacao}" class="validate" name="formacao" required="required">
                  </div>
                
                  <div class="input-field col m6 s12">
                  <i class="material-icons prefix">recent_actors</i>
                    <label for="job"> Cargo: <span class="red-text">*</span></label>
                    <input type="text" th:field="${colaborador.cargo}" class="validate" name="cargo" required="required">
                  </div>
                </div>  
                <div class="row">
                 <div class="input-field col m6 s12">
                	<i class="material-icons prefix">people</i>
                	<label>
                    <select th:field="${colaborador.modalidadeDeTrabalho}" class="select2 browser-default">
                      <option value="#">Modalidade de trabalho</option>
                      <option value="presencial">Presencial</option>
                      <option value="remoto">Remoto</option>
                    </select>
                    </label>
                  </div>
                  <div class="input-field col m6 s12">
                  <i class="material-icons prefix">monetization_on</i>
                    <label for="job">Salário: <span class="red-text">*</span></label>
                    <input type="text" th:field="${colaborador.salario}" name="valor" onKeyPress="return(moeda(this,'.',',',event))"
                      maxlength="15" pattern="([0-9]{1,3}\.)?[0-9]{1,3},[0-9]{2}$" required="required">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col m6 s12">
                  <i class="material-icons prefix">edit</i>
                    <label for="company">Empresa anterior a qual trabalhou:</label>
                    <input type="text" th:field="${colaborador.empresaAnterior}" class="validate" name="empresaAnterior" required="required">
                  </div>
                  <div class="input-field col m6 s12">
                  <i class="material-icons prefix">edit</i>
                    <label>Experiência:</label>
                    <input type="text" th:field="${colaborador.experiencia}" class="validate" name="experiencia" required="required">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col m6 s12">
                  	 <i class="material-icons prefix"></i>
                    <p>Data de admissão: <span class="red-text">*</span></p>  
                    <input type="date" th:field="${colaborador.dataAdmissao}" class="validate" name="dataAdmissao" required="required">
                  </div>
                  <div class="input-field col m6 s12">
                  <i class="material-icons prefix"></i>
                    <p>Data de saída: </p>
                   <input type="date" class="validate" id="exp" name="dataSaida" >
                  </div>                  
				 </div>
                 <div class="row">
                <div class="input-field col m6 s12">
                 <i class="material-icons prefix">edit_location</i>
                    <label>CEP: <span class="red-text">*</span></label>                    
                    <input type="text" th:field="${colaborador.endereco.cep}" id="cep"
                    name="cep" onkeypress="mascara(this, '#####-###')" maxlength="9">
                  </div>
                  <div class="input-field col m6 s12">
                   <i class="material-icons prefix">edit_location</i>
                    <label><span class="red-text"></span></label>
                    <input type="text" th:field="${colaborador.endereco.logradouro}" class="validate" id="logradouro" name="logradouro" required>
                  </div>
                </div>
                <div class="row">                
                  <div class="input-field col m12 s12">
                   <i class="material-icons prefix">edit_location</i>
                    <label>Complemento: </label>
                    <input type="text" th:field="${colaborador.endereco.complemento}" class="validate" id="quadra" name="quadra">
                  </div>
                </div>
                <div class="row">                
                  <div class="input-field col m6 s12">
                   <i class="material-icons prefix">edit_location</i>
                    <label>Número: </label>
                    <input type="text" th:field="${colaborador.endereco.numero}" id="numero">
                  </div>                  
                  <div class="input-field col m6 s12">
                   <i class="material-icons prefix">edit_location</i>
                    <label><span class="red-text"></span></label>
                    <input type="text" th:field="${colaborador.endereco.bairro}" id="bairro" name="bairro" required="required">
                  </div>                  
                  <div class="input-field col m6 s12">
                   <i class="material-icons prefix">event_note</i>
                    <input id="uf" th:field="${colaborador.endereco.estado}">
                    
			      </div>
                  <div class="input-field col m6 s12">
                   <i class="material-icons prefix">event_note</i>
                    <input type="text" th:field="${colaborador.endereco.cidade}" id="cidade" name="numero">                                
                </div>
                </div>
                <div class="row">
                  <div class="input-field col m6 s12">       	 	     
				  	  <div class="input-field">
				  		<i class="material-icons prefix">face</i>	
						<label>nome de usuário: <span class="red-text">*</span></label> 
						<input type="text" th:field="${colaborador.usuario.username}" name="username" required="required">								 
				  	  </div>	  	
                  </div>
                  <div class="input-field col m6 s12">       	 	     
				  	  <div class="input-field">
				  		<i class="material-icons prefix">enhanced_encryption</i>	 
				  		<label>Senha: <span class="red-text">*</span></label> 	
				  		<input type="password" th:field="${colaborador.usuario.password}" name="password" required="required">				  			 
				  	  </div>	  	
                 </div>
                 </div>               
                  <div class="row">
                    <div class="col m2 s6">
                      <button class="red btn mr-1 btn-reset" type="reset">Limpar<i class="material-icons right">clear</i></button> 
                    </div>  
                    <input type="hidden" id="id" th:field="${colaborador.id}" name="id"  >    
          			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <div class="col m6 s12 mb-1">
                      <button class="waves-effect waves-dark btn btn-primary" type="submit"><i class="material-icons right">cloud</i>Enviar</button>
                    </div>
                  </div>
                 </form>
                <br>
             </div>     
            </div>
     	  </div>
   	  </div>
    </div>	
  <br>
 <!-- FIM: Introução -->
  </div>
   <div class="content-overlay"></div>
    </div>
     </div>
      </div>
      <div class="alert alert-success" th:if="${not #strings.isEmpty(menssagem)}">
		<script>					    
			M.toast({html: '<i class="material-icons">[(${icone})]</i> &emsp; [(${menssagem})]', classes: 'rounded'});
		</script>	
	  </div>
	  </div>

    <!-- END: Página principal-->
	<div th:replace="~{dashboard-admin/fragmentos/personaliza-tema :: temas}"></div>
	<div th:replace="~{dashboard-admin/fragmentos/rodape :: footer}"></div>
    
    <!-- END: Footer--> 	
     <script src="../../../app-assets/js/mask.js"></script>  
    <!-- BEGIN THEME  JS-->
    <script src="../../../../app-assets/js/viaCep.js"></script>
   
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="../../../../app-assets/vendors/dropify/js/dropify.min.js"></script> 
    <script src="../../../../app-assets/js/scripts/form-file-uploads.min.js"></script>
    <!-- END PAGE LEVEL JS-->
  </body>
</html>